@import 'setup';
@import 'variables';
@import 'responsiveFont';

html {
  font-size: 10px;
}

.wrapperHeader {
	width: 65%;
	margin: 0 auto;
	max-width: 1100px;
}

.wrapperResults {
  width:80%;
  margin: 0 auto;
  max-width: 1100px;
}

body{
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

header {
  background:url('../../images/landing-page.jpeg');
  height:100vh;
  background-repeat: no-repeat;
  position: center;
  background-attachment: fixed;
  background-size:cover;
}

a {
  text-decoration: none;
}

.topBar {
  background: rgba(0,0,0,0.8);
  color:white;
  display: flex;
  justify-content:space-between;
  align-items:center;
  position: fixed;
  top:0;
  // right:0;
  width:100%;
  z-index: 10;
  h4 {
    margin: 0;
    padding:1rem;
    font-weight:300;
  }
  .backToTop {
    margin:0;
    a {
      color:white;
      padding:1rem;
      font-size: 1.8rem;
      font-weight:300;
    }
  }
}

.header-search {
  text-align: center;
  svg {
    margin-top: 10rem;
  }
  button {
    background-color: $brewDarkCopper;
    border:none;
    display: inline-block;
    box-shadow: 0 0 10px black;
    margin-left: 1rem;
    font-weight: 300;
    font-size: 1.8rem;
    a {
      color:$brewBlack;
      padding: 0.5rem;
      display: inline-block;
      font-weight:400;
    }
  }
  .searchContainer {
    background-color:rgba(172,84,55,0.6);
    margin:0 auto;
    width:65%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border:8px double black;
    .intro {
      margin-bottom: 0;
      display: inline-block;
      font-size: 2rem;
    }
    .Or {
      text-transform: uppercase;
      font-weight: 700;
    }
    h2 {
      margin:0;
    }
    label {
      display: none;
      margin-bottom: 1rem;
    }
    input[type=text] {
      width:55%;
      display: inline-block;
      padding: 0.5rem;
      font-style: italic;
      display: inline-block;
      box-shadow: 0 0 10px black;
    }
    .submit {
      background-color: $brewDarkCopper;
      border:none;
      padding:1rem;
      display: inline-block;
      box-shadow: 0 0 10px black;
      margin-left: 1rem;
      font-weight: 400;
      font-size: 1.8rem;
      // border-radius: 5px;
    }
  }
  
}

#mapContainer {
  // padding-top: 5.5rem;
}

#map {
  margin: 0 auto;
  padding: 0;
  height: 350px;
}

.results {
  display:flex;
  flex-wrap:wrap;
  // flex: 1 1 33.33%;
  background:url('../../images/brewery-alt.jpg');
  background-repeat: no-repeat;
  position: center;
  background-attachment: fixed;
  background-size:cover;
}

.resultsCards{
  width: 33%;
  max-width:350px;
}

.individualBrew {
  background-color:rgba(253,236,226,0.5);
  box-shadow: 8px 8px 12px -6px rgba(0,0,0,0.75);
  border-radius:5px;
  margin:20px 0;
  text-align:center;
  h2 {
    // min-height:7rem;
    padding-top: 1.5rem;
  }
  h3 {
    padding:1rem 0;
    margin:0;
  }
  a {
    padding: 1rem 2rem;
    text-decoration:none;
    color:black;
    display:block;
  }
  .readMoreee{
    padding:0 2rem;
    a{
      // padding-top:200px;
      // color:pink;
    }
    p{

    }
  }
}

.sorry {
  padding: 10rem;
  font-size: 4rem;
  // margin:0 auto;
  text-align: center;
  text-shadow: 1px 1px 10px white;
}

footer {
  background-color: black;
  color:white;
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center;
  p {
    margin:0;
    &:first-child {
      padding-top:2rem;
    }
  }
}

@import 'mediaQueries';