@import 'setup';
@import 'variables';
@import 'responsiveFont';



.wrapper{
	width: 70%;
	margin: 0 auto;
	max-width: 1000px;
}
body{

}

h2, h3, h4, h5, h6{
	font-weight:400;

}


#map {
  margin: 0 auto;
  padding: 0;
  height: 200px;
  width: 80%;
}

#selector {
	color: #fff;
	background-color: #4d90fe;
	margin-left: 12px;
	padding: 8px 11px 8px 11px;
	border-radius:50%;
	@include responsive-font(1vw, 9px, 16px);
}

form {
  display: flex;
  justify-content: flex-end;
  #user-input {
    width: 10%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    // display:inline-block;
  }
  #user-input:before{
    content: "\f105";
    color: $brewBlack;
    @include responsive-font(1.5vw, 10px, 20px);
    float : right;
    font-family: "FontAwesome";
  }
  /* When the input field gets focus, change its width to 100% */
  #user-input:focus {
    width: 60%;
    background: white;
  }
}



// All Media Queries

// Landscape phones and tablet
@media (max-width: 767px) {
	// turn off wrapper margin 
	.wrapper{
		width: 90%;
	}
    
}
 
// Landscape phones and down
@media (max-width: 480px) {
 
}
